<div class="home-banner">
  <h1>Barbie Death Spa</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <%= image_tag "sunrise.jpg", width:"265" %>
            <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <% end %>
  </div>
</div>


  <%= link_to "Ajouter un cocktail", new_cocktail_path  %>



